<% brands =  current_theme.the_fields('brands_item') %>
<% unless brands.blank? %>
<!-- Clients -->
<div class="iq-our-clients white-bg iq-ptb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="owl-carousel" data-nav-dots="false" data-nav-arrow="true" data-items="5" data-sm-items="3" data-lg-items="5" data-md-items="4" data-autoplay="true">
          <% brands.each do |brand|%>
          <%= image_tag brand, class: "img-responsive center-block", alt: "" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Clients END -->
<% end %>