/*

Template: Sofbox - Responsive Software Landing Page
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/

/************************* selection *************************/

*::-moz-selection {
    background: #fdc318;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #fdc318;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fdc318;
    color: #fff;
    text-shadow: none;
}


a {
    color: #55aad1;
}

a:focus,
a:hover {
    color: #fdc318;
}
.color-text-1{
    color: #fdc318;
    font-weight: 900;
}

.loader #largeBox {
    background-color: #fdc318;
}
.text-2{
    font-size: 20px;
}
/*----------------------------------------------------------------------
                        Buttons
-----------------------------------------------------------------------*/

.button {
    background: #fdc318;
}
.button.full{
    width: 100%;
}

.iq-banner .iq-video {
    color: #fdc318;
}

/* Buttons white */

.button.bt-white:hover,
.button.bt-white:focus {
    background: #fdc318;
}


/*---------------------------------------------------------------------
                           Section Title
-----------------------------------------------------------------------*/

.heading-title .title:before {
    background: #fdc318;
}

.heading-title.white .title::before {
    background: #fdc318;
}
#particles-js{
    opacity: 0.3;
}
.bold{
    font-weight: bold;
}

/*---------------------------------------------------------------------
                            Text Color 
-----------------------------------------------------------------------*/

.iq-works-box .icon-bg i,
.iq-works-box .step,


.iq-fancy-box .iq-icon,
.iq-progress-bar-text,
.iq-blog-detail a:hover,
.iq-blog-detail .blog-title a:hover h5,
.iq-footer-box .iq-icon i,
.counter-info .iq-video,
.iq-sidebar-widget .iq-widget-search i,
.iq-widget-menu ul li a span:hover,
.iq-widget-menu ul ul li a span:hover,
.iq-sidebar-widget .iq-recent-post .media-body > a:hover,
.iq-sidebar-widget .iq-recent-post .media-body span .fa,
.iq-tags li a:hover,
.iq-widget-archives li a:hover,
.iq-comment-list .iq-comment-metadata i {
    color: #fff;
}

.iq-amazing-tab .nav.nav-tabs li.active a i,
.iq-amazing-tab .nav.nav-tabs li.active a:hover i,
.iq-amazing-tab .nav.nav-tabs li.active a:focus i,
.iq-amazing-tab .nav.nav-tabs li a:hover,
.iq-amazing-tab .nav.nav-tabs li a:hover i,
.iq-font-blue{
    color: #fdc318;
}
.iq-breadcrumb .breadcrumb li.active{
    color: #8a8a8a;    
}

.iq-amazing-tab .nav.nav-tabs li.active1 a i,
.iq-amazing-tab .nav.nav-tabs li.active1 a:hover i,
.iq-amazing-tab .nav.nav-tabs li.active1 a:focus i {
     color: #fdc318;
}

.iq-works-box .step{
    background: #fdc318;
    border: 1px solid #fff;
}

.iq-works-box .icon-bg{
    background: #343434;
    
}
.iq-works-box .icon-bg i{
    color:  #fdc318;
}
/*---------------------------------------------------------------------
                          Background Color 
-----------------------------------------------------------------------*/

.iq-amazing-tab .nav.nav-tabs li a:before,
.iq-amazing-tab .nav.nav-tabs li a:hover:before,
.iq-amazing-tab .nav.nav-tabs li a:focus:before,
.iq-fancy-box:hover .iq-icon,
.iq-client:before,
.owl-carousel .owl-nav i:hover,
.iq-team .share ul li a:hover,
.iq-accordion .ad-title:before,
.info-share li a:hover,
#back-to-top .top:hover,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover,
.iq-error h6,
.blue-bg {
    background: #fdc318;
}

header .menu-sticky {
    background: rgba(12, 9, 1, 0.9);
}
.b-main-arrow{
    text-align: center;
    color: #fff;
    font-size: 24px;
    z-index: 1;
    position: absolute;
    bottom: 15px;
    left: 50%;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

/*---------------------------------------------------------------------
                       Background Gradient 
---------------------------------------------------------------------*/

.iq-over-blue-80:before {
    background: rgba(23, 23, 23, 0.9);
    
}
.slider-container .slider-right, .slider-container .slider-left{
    color: #fdc318;
}

.iq-over-blue-90:before {
    background: rgba(23, 23, 23, 0.9);
}

.iq-team .iq-team-img:before {
    background: -webkit-linear-gradient(top, rgba(253, 195, 24, 0) 0%, rgba(253, 195, 24, 0.99) 99%, rgba(253, 195, 24, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(253, 195, 24, 0)), color-stop(99%, rgba(253, 195, 24, 0.99)), to(rgba(253, 195, 24, 1)));
    background: -o-linear-gradient(top, rgba(253, 195, 24, 0) 0%, rgba(253, 195, 24, 0.99) 99%, rgba(253, 195, 24, 1) 100%);
    background: linear-gradient(to bottom, rgba(253, 195, 24, 0) 0%, rgba(253, 195, 24, 0.99) 99%, rgba(253, 195, 24, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fdc318', endColorstr='#fdc318', GradientType=0);
}



/*---------------------------------------------------------------------
                      		 Boder Color 
---------------------------------------------------------------------*/

.iq-objects .iq-objects-04,
.iq-objects-software .iq-objects-03,
.iq-objects-asked .iq-objects-03,
.info-share li a:hover,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover,
.contact-form .section-field input:focus,
.contact-form .section-field.textarea textarea:focus,
.iq-sidebar-widget .iq-widget-search input:focus,
.iq-tags li a:hover,
blockquote {
    border-color: #fdc318;
}





@media(max-width:767px) {
    header .navbar-default .navbar-toggle .icon-bar,
    header .navbar-default .navbar-nav > li > a:hover,
    header .navbar-default .navbar-nav > li > a:focus,
    header .navbar-default .navbar-nav > li.active > a,
    header .navbar-default .navbar-nav > li.active > a:focus,
    header .navbar-default .navbar-nav > li.active > a:hover {
        background: #fdc318;
    }



}

/*---------------------------------------------------------------------
                      		 Forms
---------------------------------------------------------------------*/
.form-control{
    border-radius: 0;
    height: 47px;
    font-size: 18px;
}