<% home_page = (current_site.the_post(current_theme.get_field("home_page").to_i) || current_site.the_posts("page").first).decorate  %>
<section id="iq-home" class="iq-banner overview-block-pt iq-bg iq-bg-fixed iq-over-blue-90" style="background-image: url(images/bg/O81G5F0.jpg);">
  <!-- BACKGROUND PARTICLES -->
  <div id="particles-js"></div>
  <div class="container-fluid">
    <div class="banner-text text-center">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-uppercase iq-font-white iq-tw-3">Разработка <b class="iq-tw-7">WEB</b> сайтов</h1>
          <h2 class="iq-font-white color-text-1 iq-pt-15  text-animate">
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Сайт Визитка</b>
                                <b class="is-hidden">Интернет-Магазин</b>
                                <b class="is-hidden">Landing Page</b>
                            </span>
          </h2>

          <p class="iq-font-white text-2 iq-pt-15 iq-mb-40">
            Мы значем как заставить сайт приносить вам результат!
          </p>


          <div class="iq-mt-10">
            <a href="#" class="button bt-black animate-button">Заказать сайт</a>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="banner-objects">
            <span class="banner-objects-01" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-50px);" >
                    <img src="images/drive/03.png" alt="drive02">
                </span>
    <span class="banner-objects-02 iq-fadebounce">
                    <span class="iq-round"></span>
            </span>
    <span class="banner-objects-03 iq-fadebounce">
                    <span class="iq-round"></span>
            </span>
  </div>

  <div class="b-main-arrow">
    <i aria-hidden="true" class="ion-ios-arrow-down"></i>
  </div>
</section>

<!-- Banner End -->


<!-- Main Content -->

<div class="main-content">

  <!-- How it Works -->

  <section id="how-it-works" class="overview-block-ptb it-works re4-mt-50">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title">
            <h3 class="title iq-tw-7">Что нужно для идеального сайта?</h3>
            <p>Правильно поставленная задача и подготовительные работы при создании сайта, это всегда половина успеха любого дела. Чтобы получить качественный результат, необходимо: </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="iq-works-box text-left">
            <div class="step">1</div>
            <div class="icon-bg text-center">
              <i aria-hidden="true" class="ion-ionic"></i>
            </div>
            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Цель сайта</h5>
            <p>Чтобы сайт начал приносить нужный вам результат, необходимо в начале понимать, какой резльтат вам нужне? Продажа товара, получение контакта, сложная воронка продаж и т.д. Каков должне быть конечный результат и как сайт может вам в этом помочь?</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 re-mt-50">
          <div class="iq-works-box text-left">
            <div class="step">2</div>
            <div class="icon-bg text-center">
              <i aria-hidden="true" class="ion-eye"></i>
            </div>
            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Сбор информации ЦА</h5>
            <p>Чтобы быть номер один в вашей нише, необходми анализ ваших клинетов. Вы должны понимать, чего хочет ваш клинет и как можно его зацепить. Какие тригеры действруют для вашего идельаного клинета, чтобы зацепить его внимание и и не дать закрыть старницу сайта?</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 re-mt-50">
          <div class="iq-works-box text-left">
            <div class="step">3</div>
            <div class="icon-bg text-center">
              <i aria-hidden="true" class="ion-clipboard"></i>
            </div>
            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Четкое ТЗ</h5>
            <p>Если нет ТЗ, то результат будет ХЗ! Правильно составленное техническое задание и план создания вашего сайта, это залог качественно выполненной работы. Четко описанный функционал сайта, его разделы, структура, работа и т.д. даст возможность нашим специалистам качесетвенно выполнить свою работу.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- How it Works END -->


  <!-- Who is Sofbox ? -->

  <section id="how-works" class="overview-block-ptb how-works">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="iq-tw-6 iq-mb-25">Ктом мы такие ?</h1>
          <p class="iq-font-15">Мы молодая и энергичная комманад, которая любит свое дело и отдается ему на 100%. Каждый проекто, это не просто очередной сайт, а новая возможнсть помочь вам выйти на новый уровень деятельности!</p>

          <p class="iq-font-15 iq-mt-20">Мы говорим так: "Если вашего бизнеса нет в интернете, у вас нет бизнеса!"</p>

          <p class="iq-font-15 iq-mt-20">Разработка сайтов, это не простая работа и лучше всего доверить ее профессианалам, знающим свое дело. Мы с радостью возьмем на себя, всю трудность этого дела.</p>

          <h6 class="iq-tw-6 iq-mt-25">Наше девиз: Нет ничего невозможного!</h6>
          <a href="#" class="button iq-mt-10">Заказать сайт прямо сейчас</a>
        </div>
        <div class="col-md-6">
          <img class="iq-works-img" src="images/drive/01.png" alt="drive01">
        </div>
      </div>
    </div>
    <div class="iq-objects">
                <span class="iq-objects-01">
                        <img src="images/drive/02.png" alt="drive02">
                    </span>
      <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                        <img src="images/drive/03.png" alt="drive02">
                    </span>
      <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                        <img src="images/drive/04.png" alt="drive02">
                    </span>
      <span class="iq-objects-04 iq-fadebounce">
                        <span class="iq-round"></span>
                </span>
    </div>
  </section>

  <!-- Who is Sofbox ? END -->


  <!-- Software Features -->

  <section id="software-features" class="overview-block-ptb software">
    <div class="iq-software-demo">
      <img class="img-responsive" src="images/drive/05.png" alt="drive05">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h1 class="iq-tw-6 iq-mb-25">Технологии которые мы используем</h1>
          <p class="iq-font-15">Более чем за 10 лет работы на рынке разработки сайтов, мы выявили самые эффективные технологии для создания сайтов:</p>

          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive" src="images/tehnology/01.jpg" alt="">
            </div>
            <div class="col-md-6">
              <img class="img-responsive" src="images/tehnology/03.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive" src="images/tehnology/04.png" alt="">
            </div>
            <div class="col-md-6">
              <img class="img-responsive" src="images/tehnology/05.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive" src="images/tehnology/07.png" alt="">
            </div>
            <div class="col-md-6">
              <img class="img-responsive" src="images/tehnology/06.png" alt="">
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="iq-objects-software">
                <span class="iq-objects-01">
                        <img src="images/drive/03.png" alt="drive02">
                    </span>
      <span class="iq-objects-02">
                        <img src="images/drive/04.png" alt="drive02">
                    </span>
      <span class="iq-objects-03 iq-fadebounce">
                        <span class="iq-round"></span>
                </span>
    </div>
  </section>

  <!-- Software Features END -->


  <!-- Great Screenshots -->

  <section id="great-screenshots" class="overview-block-ptb iq-bg iq-bg-fixed iq-over-blue-80 iq-screenshots" style="background: url(images/bg/07.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title white">
            <h3 class="title iq-tw-7">Портфолио</h3>
            <p class="iq-font-white">С радостью представляем вам некторые наши работы:</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="portfolio-container">
          <% current_site.the_posts(current_theme.get_field("recent_portfolio_type")).latest.limit(current_theme.get_field("home_qty")).decorate.each do |portfolio| %>
              <% if portfolio.has_thumb? %>
                  <%= raw portfolio.the_thumb %>
              <% end %>
            <%= debug portfolio %>
          <% end %>
          <div class="portfolio-item">
            <div class="portfolio-item-wrapper">
              <a href="blog-single.html">
                <img src="images/portfolio/wrk2.jpg" alt="">
                <span class="portfolio-item__title">
                                        <span class="portfolio-item__title-project">
                                            Проект номер 2
                                        </span>
                                        <span class="portfolio-item__title-type">
                                            Сайт визитка
                                        </span>
                                    </span>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item-wrapper">
              <a href="blog-single.html">
                <img src="images/portfolio/wrk2.jpg" alt="">
                <span class="portfolio-item__title">
                                        <span class="portfolio-item__title-project">
                                            Проект номер 2
                                        </span>
                                        <span class="portfolio-item__title-type">
                                            Сайт визитка
                                        </span>
                                    </span>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item-wrapper">
              <a href="blog-single.html">
                <img src="images/portfolio/wrk2.jpg" alt="">
                <span class="portfolio-item__title">
                                        <span class="portfolio-item__title-project">
                                            Проект номер 2
                                        </span>
                                        <span class="portfolio-item__title-type">
                                            Сайт визитка
                                        </span>
                                    </span>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item-wrapper">
              <a href="blog-single.html">
                <img src="images/portfolio/wrk2.jpg" alt="">
                <span class="portfolio-item__title">
                                        <span class="portfolio-item__title-project">
                                            Проект номер 2
                                        </span>
                                        <span class="portfolio-item__title-type">
                                            Сайт визитка
                                        </span>
                                    </span>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item-wrapper">
              <a href="blog-single.html">
                <img src="images/portfolio/wrk2.jpg" alt="">
                <span class="portfolio-item__title">
                                        <span class="portfolio-item__title-project">
                                            Проект номер 2
                                        </span>
                                        <span class="portfolio-item__title-type">
                                            Сайт визитка
                                        </span>
                                    </span>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item-wrapper">
              <a href="blog-single.html">
                <img src="images/portfolio/wrk2.jpg" alt="">
                <span class="portfolio-item__title">
                                        <span class="portfolio-item__title-project">
                                            Проект номер 2
                                        </span>
                                        <span class="portfolio-item__title-type">
                                            Сайт визитка
                                        </span>
                                    </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Great Screenshots END -->


  <!-- Tab Features -->

  <div id="features" class="iq-amazing-tab white-bg">
    <div class="container">
      <div class="heading-title iq-mt-40">
        <h3 class="title iq-tw-7">Наши услуги</h3>
        <p>Перечень наших услуг которые мы предоставляем по созданию сайтов:</p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div>

            <!-- Nav tabs -->
            <ul id="iq-amazing-tab" class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active1"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i aria-hidden="true" class="ion-monitor"></i><span>Сайт Визитка</span></a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i aria-hidden="true" class="ion-ipad"></i><span>Сайт каталог</span></a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i aria-hidden="true" class="ion-iphone"></i><span>Интернет-Магазин</span></a></li>
              <li role="presentation"><a href="#landing" aria-controls="landing" role="tab" data-toggle="tab"><i aria-hidden="true" class="ion-iphone"></i><span>Landing Page</span></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content iq-mt-50">
              <div role="tabpanel" class="tab-pane active" id="home">
                <h1 class="iq-tw-6 iq-mb-25">Software Features</h1>
                <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <ul class="iq-mt-40 iq-list">
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                </ul>
                <img class="img-responsive center-block" src="images/drive/06.png" alt="screenshots1">
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <h1 class="iq-tw-6 iq-mb-25">Software Features</h1>
                <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <ul class="iq-mt-40 iq-list">
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                </ul>
                <img class="img-responsive center-block" src="images/drive/06.png" alt="screenshots1">

              </div>
              <div role="tabpanel" class="tab-pane" id="messages">
                <h1 class="iq-tw-6 iq-mb-25">Software Features</h1>
                <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <ul class="iq-mt-40 iq-list">
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                </ul>
                <img class="img-responsive center-block" src="images/drive/06.png" alt="screenshots1">
              </div>

              <div role="tabpanel" class="tab-pane" id="landing">
                <h1 class="iq-tw-6 iq-mb-25">Software Features</h1>
                <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <ul class="iq-mt-40 iq-list">
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                  <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                </ul>
                <img class="img-responsive center-block" src="images/drive/06.png" alt="screenshots1">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tab Features END -->




  <!-- Counter -->

  <div class="iq-pt-80 iq-counter-box iq-bg iq-bg-fixed iq-over-black-80 iq-font-white" style="background: url(images/bg/02.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 text-left">
          <div class="counter"> <i class="ion-ios-folder-outline " aria-hidden="true"></i>
            <label class="iq-font-white text-uppercase">Сайтов сделано</label>
            <span class="timer iq-tw-7 iq-font-blue" data-to="200" data-speed="10000">0</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-left re-mt-50">
          <div class="counter"> <i class="ion-ios-paper-outline " aria-hidden="true"></i>
            <label class="iq-font-white text-uppercase">Строчек кода</label>
            <span class="timer iq-tw-7 iq-font-blue" data-to="5632146" data-speed="1000000">0</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-left re4-mt-50">
          <div class="counter"> <i class="ion-ios-person-outline " aria-hidden="true"></i>
            <label class="iq-font-white text-uppercase">клинетов</label>
            <span class="timer iq-tw-7 iq-font-blue" data-to="200" data-speed="10000">0</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-left re-mt-50">
          <div class="counter"> <i class="ion-ios-star " aria-hidden="true"></i>
            <label class="iq-font-white text-uppercase">Карма +</label>
            <span class="timer iq-tw-7 iq-font-blue" data-to="1620" data-speed="10000">0</span>
          </div>
        </div>
      </div>
      <div class="counter-info iq-mt-60 iq-pt-40">
        <div class="row">
          <div class="col-md-6">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p class="iq-mt-30">It has survived not only five centuries, but also the leap into electronic type setting, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#" class="button bt-white iq-mt-15 iq-mb-30">Download</a>
          </div>
          <div class="col-md-6">
            <div class="counter-info-img">
              <img class="center-block" src="images/drive/07.png" alt="">
              <a href="video/01.mp4" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a>
              <div class="iq-waves">
                <div class="waves wave-1"></div>
                <div class="waves wave-2"></div>
                <div class="waves wave-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Counter END -->


  <!-- Loved By Our Customers -->

  <section class="overview-block-ptb white-bg iq-loved-customers">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title iq-mt-50">
            <h3 class="title iq-tw-7">Отзывы наших клинетов</h3>
            <p>Вот что о нас говорят наши клиенты:</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="owl-carousel" data-nav-dots="false" data-nav-arrow="true" data-items="3" data-xs-items="1" data-sm-items="2" data-md-items="3" data-lg-items="3" data-autoplay="true">
            <div class="item">
              <div class="iq-client white-bg">
                <div class="client-img">
                  <img alt="#" class="img-responsive img-circle" src="images/testimonial/01.jpg">
                </div>
                <div class="client-info">
                  <div class="client-name iq-mb-10">
                    <h5 class="iq-tw-6">Jason Adams</h5>
                    <span class="sub-title iq-tw-6">CEO, Sofbox</span>
                  </div>
                  <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-client white-bg">
                <div class="client-img">
                  <img alt="#" class="img-responsive img-circle" src="images/testimonial/02.jpg">
                </div>
                <div class="client-info">
                  <div class="client-name iq-mb-10">
                    <h5 class="iq-tw-6">Jenny Adams</h5>
                    <span class="sub-title iq-tw-6">CEO, Sofbox</span>
                  </div>
                  <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-client white-bg">
                <div class="client-img">
                  <img alt="#" class="img-responsive img-circle" src="images/testimonial/03.jpg">
                </div>
                <div class="client-info">
                  <div class="client-name iq-mb-10">
                    <h5 class="iq-tw-6">John Deo</h5>
                    <span class="sub-title iq-tw-6">CEO, Sofbox</span>
                  </div>
                  <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Loved By Our Customers END -->


  <!-- Affordable Price -->

  <section id="pricing" class="overview-block-ptb grey-bg iq-price-table">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title">
            <h3 class="title iq-tw-7">Наши цены</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="iq-pricing text-center">
            <div class="price-title iq-bg iq-over-blue-80" style="background: url(images/bg/08.jpg);">
              <h1 class="iq-font-white iq-tw-7"><small>$</small>19<small>/Month</small></h1>
              <span class="text-uppercase iq-tw-4 iq-font-white">BASIC</span>
            </div>
            <ul>
              <li>
                <s>100 MB Disk Space</s>
              </li>
              <li>2 Subdomains</li>
              <li>5 Email Accounts</li>
              <li>
                <s>Webmail Support</s>
              </li>
              <li>
                <s>Customer Support 24/7</s>
              </li>
            </ul>
            <div class="price-footer">
              <a class="button" href="# ">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 re4-mt-30 wow flipInY" data-wow-duration="1s">
          <div class="iq-pricing text-center">
            <div class="price-title iq-bg iq-over-blue-80" style="background: url(images/bg/08.jpg);">
              <h1 class="iq-font-white iq-tw-7"><small>$</small>29<small>/Month</small></h1>
              <span class="text-uppercase iq-tw-4 iq-font-white">STANDARD</span>
            </div>
            <ul>
              <li>100 MB Disk Space</li>
              <li>2 Subdomains</li>
              <li>5 Email Accounts</li>
              <li>
                <s>Webmail Support</s>
              </li>
              <li>Customer Support 24/7</li>
            </ul>
            <div class="price-footer">
              <a class="button" href="# ">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 re4-mt-30">
          <div class="iq-pricing text-center">
            <div class="price-title iq-bg iq-over-blue-80" style="background: url(images/bg/08.jpg);">
              <h1 class="iq-font-white iq-tw-7"><small>$</small>49<small>/Month</small></h1>
              <span class="text-uppercase iq-tw-4 iq-font-white">ADVANCE</span>
            </div>
            <ul>
              <li>100 MB Disk Space</li>
              <li>
                <s>2 Subdomains</s>
              </li>
              <li>
                <s>5 Email Accounts</s>
              </li>
              <li>Webmail Support</li>
              <li>Customer Support 24/7</li>
            </ul>
            <div class="price-footer">
              <a class="button" href="# ">Purchase</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Frequently Asked Questions -->

  <section class="overview-block-ptb white-bg iq-asked">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title">
            <h3 class="title iq-tw-7">Как мы работаем?</h3>
            <p>Есть 2 пути: </p>
            <div class="row">
              <div class="col-md-4 col-md-push-2">
                <span class="bold">А —</span> Классика - 50% в начале работы, 50% после утверждения ТЗ и Дизайна.
              </div>
              <div class="col-md-4 col-md-push-2">
                <span class="bold">Б —</span> Полная оплата сразу, тогда вы получаете пресональную скидку.
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img class="img-responsive center-block" src="images/drive/10.png" alt="drive10" style="z-index: 9; position: relative;">
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="iq-accordion iq-mt-50">
            <div class="ad-block ad-active"> <a href="#" class="ad-title iq-tw-6 iq-font-grey">Этап 1: Подготовка</a>
              <div class="ad-details">
                <div class="row">
                  <div class="col-sm-3"><img alt="#" class="img-responsive" src="images/blog/01.jpg"></div>
                  <div class="col-sm-9"> Разговор с клинетом какой бизней ведет, выяление желаний клинета, что ему нравится, приеры которые он хотел бы видеть, цели на сайт,ссылки на конкрентов.</div>
                </div>
              </div>
            </div>
            <div class="ad-block"> <a href="#" class="ad-title iq-tw-6 iq-font-grey">Этап 2: Разработка ТЗ и прототипирование</a>
              <div class="ad-details">На основе полученных данных создание прототипа сайта, структуры и описания функционала и фронат работа в ТЗ.</div>
            </div>
            <div class="ad-block"> <a href="#" class="ad-title iq-tw-6 iq-font-grey">Этап 3: Разработка</a>
              <div class="ad-details">
                <div class="row">
                  <div class="col-sm-9"> Выбор технологий и тип реализации проекта. Рисование дизайна, врерстка, программиорвание. </div>
                  <div class="col-sm-3"><img alt="#" class="img-responsive" src="images/blog/01.jpg"></div>
                </div>
              </div>
            </div>
            <div class="ad-block"> <a href="#" class="ad-title iq-tw-6 iq-font-grey">Этап 4: Тестирование и сдача проекта</a>
              <div class="ad-details">Тестирование на недочеты и баги, пернос на ваш хсотинг. Сдача проекта клинету</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="iq-objects-asked">
                <span class="iq-objects-01">
                    <img src="images/drive/02.png" alt="drive02">
                </span>
      <span class="iq-objects-02">
                    <img src="images/drive/04.png" alt="drive02">
                </span>
      <span class="iq-objects-03 iq-fadebounce">
                    <span class="iq-round"></span>
                </span>
    </div>
  </section>



  <!-- Clients -->

  <div class="iq-our-clients white-bg iq-ptb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="owl-carousel" data-nav-dots="false" data-nav-arrow="true" data-items="5" data-sm-items="3" data-lg-items="5" data-md-items="4" data-autoplay="true">
            <div class="item"> <img class="img-responsive center-block" src="images/clients/01.png" alt="#"></div>
            <div class="item"> <img class="img-responsive center-block" src="images/clients/02.png" alt="#"></div>
            <div class="item"> <img class="img-responsive center-block" src="images/clients/03.png" alt="#"></div>
            <div class="item"> <img class="img-responsive center-block" src="images/clients/04.png" alt="#"></div>
            <div class="item"> <img class="img-responsive center-block" src="images/clients/05.png" alt="#"></div>
            <div class="item"> <img class="img-responsive center-block" src="images/clients/06.png" alt="#"></div>
            <div class="item"> <img class="img-responsive center-block" src="images/clients/07.png" alt="#"></div>
            <div class="item"> <img class="img-responsive center-block" src="images/clients/08.png" alt="#"></div>
            <div class="item"> <img class="img-responsive center-block" src="images/clients/09.png" alt="#"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Clients END -->
</div>

<!-- Main Content END -->


<!-- Footer -->

