<section class="iq-error overview-block-ptb text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="big-text iq-tw-7">404</div>
        <h3 class="iq-font-light iq-tw-6 iq-mtb-10"><%= raw t("camaleon_cms.page_not_exist") %></h3>
        <h6 class="iq-tw-6 iq-font-white iq-pall-10"><%= raw t("camaleon_cms.page_not_found_descr")%></h6>
      </div>
    </div>
  </div>
</section>