@import "default";
@import "custom_style";

/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */
.header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  padding-right: 61px;
  padding-left: 61px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.header-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact_item {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.contact_item.time_ico {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  background-image: url('../images/wall-clock32.png');
  background-position: 0px 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  font-size: 14px;
}

.number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.number.phone_ico {
  margin-right: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 24px;
  background-image: url('../images/telephone-auricular-with-cable32.png');
  background-position: 0px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.phone_top {
  margin-right: 32px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.main_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  margin-bottom: -8px;
  padding-top: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .98), hsla(0, 0%, 100%, .98)), url('../images/1467450358-delovoy-info-copy.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .98), hsla(0, 0%, 100%, .98)), url('../images/1467450358-delovoy-info-copy.jpg');
  background-position: 0px 0px, 50% 50%;
}

.main_title {
  margin-top: 30px;
  text-align: center;
}

.heading {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 1.7em;
  font-weight: 500;
  text-transform: uppercase;
}

.b1 {
  font-size: 28px;
  line-height: 1.2em;
}

.b2 {
  font-size: 60px;
}

.yellow_text {
  color: #ffc402;
  text-transform: none;
}

.heading-2 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.mouse_scroll {
  width: 35px;
  height: 51px;
  background-image: url('../images/mouse.png');
  background-position: 50% 50%;
}

.container {
  display: block;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_img {
  position: relative;
  padding-top: 83px;
}

.decore-block {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.image {
  position: absolute;
  left: 26px;
  top: 49px;
}

.image-2 {
  position: absolute;
  right: 30px;
  bottom: 40px;
}

.image-3 {
  position: relative;
  z-index: 1;
}

.pdf_ico {
  position: absolute;
  left: 43px;
  bottom: 48px;
  z-index: 2;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 72px;
  background-image: url('../images/adobe-pdf-icon.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.form_lead {
  width: 428px;
  padding: 29px 31px 10px;
  border-radius: 5px;
  background-color: #272626;
  color: #fff;
}

.form_head {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  color: #ffc402;
  font-weight: 500;
}

.form-block {
  margin-top: 28px;
}

.button_submit {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #ffc402;
  font-family: Montserrat, sans-serif;
  color: #222121;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.button_submit.link {
  position: relative;
  width: auto;
  margin-top: 23px;
  padding: 14px 48px 14px 65px;
  text-align: center;
  text-decoration: none;
}

.text-field {
  height: 44px;
  margin-bottom: 27px;
  border-radius: 5px;
}

.protect-block {
  display: block;
  width: 270px;
  margin-top: 23px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 39px;
  background-image: url('../images/locked.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.arrow {
  position: absolute;
  top: 60px;
  right: -33px;
  z-index: 2;
  width: 229px;
  height: 94px;
  background-image: url('../images/layer-9.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.arrow.bb {
  left: auto;
  top: auto;
  right: -11px;
  bottom: 35px;
  width: 139px;
  height: 54px;
}

.you_know {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f6f5f5;
}

.title_block {
  margin-bottom: 33px;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.heading-4 {
  text-align: center;
}

.heading-5 {
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
}

.paragraph {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 1.8em;
  text-align: center;
}

.footer {
  background-color: hsla(0, 0%, 9%, .95);
}

.pdf {
  display: inline;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 25px;
  background-image: url('../images/adobe-pdf-icon.png');
  background-position: 0px 50%;
  background-size: 21px;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  color: #303030;
  font-weight: 600;
}

.heading-6 {
  font-family: Montserrat, sans-serif;
  color: #303030;
  font-size: 27px;
  line-height: 1.2em;
  font-weight: 300;
}

.heading-7 {
  margin-top: 6vh;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #303030;
  line-height: 1.2em;
  font-weight: 300;
}

.text-span {
  color: #fec21d;
  font-weight: 700;
}

.text-span-2 {
  color: #fec31e;
  font-weight: 500;
}

.text-span-3 {
  color: #fec31e;
  font-weight: 500;
}

.cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 850px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.col-30 {
  width: 100%;
}

.center {
  text-align: center;
}

.text-block {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 600;
  text-align: center;
}

.list-li {
  margin-bottom: 14px;
  padding-left: 32px;
  background-image: url('../images/checked.svg');
  background-position: 0px 3px;
  background-size: 22px;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  font-weight: 400;
}

.unordered-list {
  padding-left: 0px;
  list-style-type: none;
}

.col-20 {
  position: relative;
  width: 100%;
  text-align: right;
}

.image-4 {
  position: relative;
  z-index: 2;
}

.dnwl {
  position: absolute;
  left: 11px;
  top: 0px;
  width: 50px;
  height: 100%;
  background-image: url('../images/download-arrow.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .header {
    padding-right: 15px;
    padding-left: 15px;
  }
  .number.phone_ico {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
  }
  .phone_top {
    font-size: 13px;
  }
  .main_title {
    padding-left: 15px;
  }
  .arrow.bb {
    left: 0px;
    right: auto;
    bottom: 54px;
    margin-right: 18px;
    padding-right: 0px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .heading-6 {
    font-size: 21px;
  }
  .heading-7 {
    margin-top: 3vh;
    font-size: 24px;
  }
  .cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .col-30 {
    padding-right: 15px;
    padding-left: 15px;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .03), rgba(0, 0, 0, .03));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .03), rgba(0, 0, 0, .03));
    text-align: left;
  }
  .center {
    padding-bottom: 30px;
  }
  .text-block {
    margin-top: 26px;
  }
  .col-20 {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }
  .image-5 {
    width: 70px;
  }
}

@media (max-width: 479px) {
  .contact_item.time_ico {
    display: none;
  }
  .number.phone_ico {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .phone_top {
    margin-right: 0px;
  }
  .main_block {
    overflow: hidden;
  }
  .arrow.bb {
    bottom: -5px;
    width: 109px;
    height: 34px;
    margin-right: -9px;
    margin-left: 39px;
  }
  .heading-7 {
    font-size: 22px;
  }
  .text-span-2 {
    display: inline-block;
  }
  .col-30 {
    padding-top: 20px;
  }
}