
/*---------------------------------------------------------------------
                            Software Features
-----------------------------------------------------------------------*/

.software {
    position: relative;
}

.software img {
    width: 100%
}

.iq-software-demo {
    position: absolute;
    top: 50px;
    height: 100%;
    width: 50%;
    left: 0;
}

.iq-list li {
    margin-bottom: 15px;
    line-height: 26px;
}

.iq-list li i {
    float: left;
}


.iq-objects-software {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.iq-objects-software .iq-objects-01 {
    position: absolute;
    top: 0;
    left: 0;
}

.iq-objects-software .iq-objects-02 {
    position: absolute;
    bottom: 5%;
    left: 15%;
}

.iq-objects-software .iq-objects-03 {
    position: absolute;
    top: 0%;
    left: 10%;
    border: 40px solid #fdc319;
    -webkit-border-radius: 900px;
    border-radius: 900px;
    height: 600px;
    width: 600px;
}