<!-- Popup form  -->
<div id="call-popup" class="popup">
  <div class="popup__wraper">
    <div class="popup__content">
      <a href="#" class="popup__close" type="button">
        <span class="r1"></span>
        <span class="r2"></span>
      </a>
      <form action="" class="validate-form">
        <h2>Форма обратной связи</h2>
        <p>Пожалуйста заполните форму и отправьте нам.</p>
        <div class="form-group">
          <input class="form-control" name="name" type="text" placeholder="Введите ваше имя">
        </div>
        <div class="form-group">
          <input class="form-control" name="phone" type="tel" required placeholder="Введите ваш телефон">
          <span class="valid-msg hide">✓ Все верно</span>
          <span class="error-msg hide">Неверный номер</span>
        </div>
        <input class="bot-check" type="text" name="protect" value="">
        <div class="form-group button-group">
          <input type="submit" class="button full" value="Отправить">
        </div>
        <p class="form-note"><i class="fa fa-shield" aria-hidden="true"></i> Ваши данные надежно защищены и не
          разглашаются третьим лицам.</p>
      </form>
    </div>
  </div>
</div>
<!-- Popup form End -->