<!-- loading -->

<div id="loading" data-turbolinks-permanent>
  <div id="loading-center">
    <div class="loader">
      <div id="largeBox"></div>
      <div id="smallBox"></div>
    </div>
  </div>
</div>

<!-- loading End -->

<!-- Header -->
<header id="header-wrap">
  <div class="navbar navbar-default navbar-fixed-top menu-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="<%= is_home? ? 'javascript:void(0);' : '/' %>" class="navbar-brand">
          <img class="img-responsive" src="<%=theme_img_url "logo.svg"%>" width="150" alt="logo">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <a href="#call-popup" class="button bt-black pull-right visible-lg open-popup-link"><%= t("camaleon_cms.buttons.free_consultation") %></a>
        <nav>
            <%= raw draw_menu({container_class: "nav navbar-nav navbar-right", item_current: "active", link_class: "page-scroll", container_id: "main_menu"}) %>
        </nav>
      </div>
    </div>
  </div>
</header>

<!-- Header End -->
<% content_for :javascript_last do %>
<script>
  <% unless is_home? %>
      mainMenuModifier();
  <% else %>
      initScroll();
  <% end %>
</script>
<% end %>
