/*---------------------------------------------------------------------
                             Page css typographic
-----------------------------------------------------------------------*/

.title1 {
  font-size: 23px;
  color: #fff;
  max-width: 800px;
  margin: auto;
}

.infinite-ico {
  background: url("../../images/8.png");
  width: 28px;
  height: 13px;
  display: inline-block;
}
.table-container{
    @media (max-width: 992px) {
      overflow: hidden;
      overflow-x: auto;
      width: 100%;
    }
}
.table-price {
  width: 100%;
  color: #2d2d2d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  td {
    padding: 7px 10px;
    text-align: center;

    &:first-child {
      text-align: left;
      padding-left: 20px;
    }
    & + td {
      border-left: 1px solid #dcdcdc;
    }
  }

  tr:nth-child(2n) {
    background-color: #f3f3f3;
  }

  thead {
    th {
      height: 69px;
      padding-top: 20px;
      padding-bottom: 13px;
      color: #2d2d2d;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
      background-color: #ffc900;
    }
  }
  .title-td {
    td {
      color: #2d2d2d;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      background-color: #ffc900;
      text-align: center;
    }
  }
  .empty-td {
    background: none !important;
    td {
      color: #000000;
      font-family: Roboto;
      font-style: italic;
      font-size: 14px;
      font-weight: 400;
      line-height: 35px;

    }
  }
  .dark-td {
    td {
      background: #2d2d2d;
      min-height: 35px;
      color: #ffc900;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      text-align: center;

      & + td {
        border-left: 1px solid #dcdcdc;
      }
    }
  }

  .price-td {
    td{
      background-color: #ffc900;
    }
  }

}
.static-row{
  margin-top: 15px;
  margin-bottom: 15px;
}
.img-static{
  -webkit-box-shadow: 18px 11px 13px 6px rgba(0, 0, 0, .08);
  box-shadow: 18px 11px 13px 6px rgba(0, 0, 0, .08);
}
.video_content{
  video{
      height: 100%;
  }
}
.page_sep{
  height: 58px;
  background-color: #333333;
  margin-bottom: 40px;
}
.gray_block{
  background: #f6f5f5;
}
.page_bulit{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
  padding: 15px;
  padding-bottom: 1px;
  padding-top: 60px;
  text-align: center;
  margin-top: 60px;
  min-height: 289px;
  margin-bottom: 25px;
  .page_bulit-img{
    margin-top: -125px;
    margin-bottom: 15px;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    padding: 8px;
    border-radius: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.13) 0px 0px 6px;
    position: relative;
    .gray_block &{
      background: #f6f5f5;
    }

    img{
      position: relative;
      z-index: 1;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background: #fff;
      height: 47.3%;

      .gray_block &{
        background: #f6f5f5;
      }
    }
  }

  h3{
    color: #3b3431;
    font-size: 22px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
  }
}