/*---------------------------------------------------------------------
                            Header
-----------------------------------------------------------------------*/


header .navbar.navbar-default{
    background: #000;

    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}


.home-page header .navbar{
    background: none;
}

header {
    position: fixed;
    display: inline-block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}


header .container-fluid {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .navbar-toggle{
        margin: 0 15px;
    }

    .navbar-header{
        margin-right: auto;
    }


    @media (max-width: 1400px) {
        padding: 0 15px;
    }

    .flex-col{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-left: auto;
    }
}

header .navbar-header .navbar-brand img {
    height: 60px;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

header .navbar-default {
    background: none;
    border: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    min-height: inherit;
    margin: 0;
    padding: 20px 0;
}

header .navbar-default .navbar-brand {
    height: inherit;
    padding: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    @media (max-width: 1400px) {
        margin-left: 0px !important;
    }
}

header.menu-sticky .navbar-default .navbar-brand{
    margin-top: 0px;
}

header .navbar-nav {
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

header .navbar-nav > li {
    margin: 0 30px 0 0;
}

header .navbar-nav > li:last-child {
    margin-right: 0;
}

header .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    padding: 10px 0;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
}

header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li > a:focus,
header .navbar-default .navbar-nav > li.active > a,
header .navbar-default .navbar-nav > li.active > a:focus,
header .navbar-default .navbar-nav > li.active > a:hover {
    color: #fff;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

header .nav > li a::before {
    background: #fdc318;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

header .nav > li.active > a::before,
header .nav > li:hover > a::before,
header .nav > li > a:hover::before {
    width: 100%;
}

header .button {
    margin-top: 0;
    margin-left: 60px;
}

/* Header sticky */

header .navbar.menu-sticky {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.9);
}

header .menu-sticky .navbar-header .navbar-brand img {
    height: 45px;
}

header .menu-sticky.navbar-default {
    padding: 13px 0;
}

header .menu-sticky .navbar-nav {
    margin-top: 0;
}

header .menu-sticky .button {
    margin-top: 0px;
}
.header-contacts-container{
    float: right;
    margin-left: 40px;
}
.header-contacts{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .button{
        margin-left: 20px;
        padding: 5px 11px;
    }
    .link-underline{
        color: #fff;
    }
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-left: 0 !important;
}
.header-top_phones{
    position: relative;
    padding-right: 12px;
    &:after{
        position: absolute;
        right: 10px;
        top: 14px;
        content: '';
        background-image: url("../../images/arrow-drop.png");
        width: 13px;
        height: 7px;
        transform: rotate(180deg);

    }
    &.open{
        background-color: #252525;
        &:after{
            transform: rotate(0deg);
        }
    }

    .ico{
        width: 23px;
        height: 23px;
        display: inline-block;
        background-size: cover;
        vertical-align: middle;
        position: relative;
        margin-top: -3px;
        margin-right: 14px;

        &.ico-kievstar{
            background-image: url("../../images/kievstar.png");
        }
        &.ico-vodafon{
            background-image: url("../../images/vodafon.png");
        }
    }

    .dropdown-link{
        padding: 7px 20px;
        display: inline-block;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        padding-bottom: 5px;
    }
    .dropdown-items{
        a{
            color: #ffffff;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    .dropdown-menu{
        border-radius: 0;
        background-color: #252525;
        margin: 0;
        border: none;
        right: 0;
    }
}

.lang-select{
    position: relative;
    margin-left: 24px;
    padding: 0 10px;
    a{
        display: inline-block;
        background-color: #252526;
        color: #bebdbd;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        width: 38px;
        height: 38px;
        text-decoration: none;
        text-transform: lowercase;
        text-align: center;
        line-height: 35px;
        border-radius: 100%;

        &:hover, &:focus{
            text-decoration: none;
        }
    }
    .dropdown-menu{
        background: none;
        box-shadow: none;
        min-width: initial;
        border: none;
        //border-left: 1px solid #fff;
        //border-right: 1px solid #fff;
        text-transform: uppercase;
        border-radius: 0;
        margin-left: -1px;
        & > li > a{
            color: #fff;
            text-decoration: underline;
            padding: 0px 12px 0 11px;
            &:hover, &:focus{
                text-decoration: none;
                background-color: rgb(245, 245, 245);
                color: #fdc318;
            }
        }
    }
}